//! **************************************************************************
// Written by: Map P.15xf on Tue Oct 13 15:39:50 2015
//! **************************************************************************

SCHEMATIC START;
COMP "E<0>" LOCATE = SITE "P12" LEVEL 1;
COMP "E<1>" LOCATE = SITE "J1" LEVEL 1;
COMP "E<2>" LOCATE = SITE "H1" LEVEL 1;
COMP "E<3>" LOCATE = SITE "H3" LEVEL 1;
COMP "E<4>" LOCATE = SITE "G2" LEVEL 1;
COMP "E<5>" LOCATE = SITE "K15" LEVEL 1;
COMP "S<0>" LOCATE = SITE "L5" LEVEL 1;
COMP "E<6>" LOCATE = SITE "K16" LEVEL 1;
COMP "S<1>" LOCATE = SITE "N2" LEVEL 1;
COMP "E<7>" LOCATE = SITE "F15" LEVEL 1;
COMP "S<2>" LOCATE = SITE "M3" LEVEL 1;
COMP "S<3>" LOCATE = SITE "N1" LEVEL 1;
COMP "S<4>" LOCATE = SITE "T13" LEVEL 1;
COMP "S<5>" LOCATE = SITE "L15" LEVEL 1;
COMP "S<6>" LOCATE = SITE "J13" LEVEL 1;
COMP "S<7>" LOCATE = SITE "H15" LEVEL 1;
COMP "load" LOCATE = SITE "K4" LEVEL 1;
COMP "rst" LOCATE = SITE "H4" LEVEL 1;
NET "clk_100MHz_BUFGP/IBUFG" BEL "clk_100MHz_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

